@import "tailwindcss";



@theme{
  --font-jakarta:"Plus Jakarta Sans", sans-serif;
  --font-manrope:"Manrope", sans-serif;
  --font-poppins:"Poppins", sans-serif;
  --font-questrial:"Questrial", sans-serif;
  --font-inter:"Inter", sans-serif;
  --font-lato:"Lato", sans-serif;
  --font-geist:"Geist", sans-serif;
}

#root{
  background-image: url(./assets/bgnoise.png);
  max-width: 100%;
}